*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

h1 {
    color: black;
}

.buttons {
    margin-top: 20px;
}

.row {
    margin-bottom: 5px;
}

button {
    border: none;
    outline: none;       /* Removes focus outline */
}

button:hover {
    opacity: 0.8;  /* This will give a subtle darkening effect when hovered */
}

.pitch-button {
    background-size: cover;
    width: 111px;
    height: 100px;
    color: transparent;  /* Makes the text invisible */
}

/* Media query for screens up to 375px wide */
@media (max-width: 375px) {
    .pitch-button {
        width: 90px;
        height: 81px; 
    }
}

.action-button {
    background-color: white;
    color: black;  /* Makes the text visible */
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer; /* Changes the mouse cursor when hovering */
}

.action-button:hover {
    background-color: black;
    color: white;
}

/* Images for the pitch buttons */
button#attack_l {
    background-image: url('button_images/slice_row1_col1.png');
}

button#attack_c {
    background-image: url('button_images/slice_row1_col2.png');
}

button#attack_r {
    background-image: url('button_images/slice_row1_col3.png');
}

button#attack_mid_l {
    background-image: url('button_images/slice_row2_col1.png');
}

button#attack_mid_c {
    background-image: url('button_images/slice_row2_col2.png');
}

button#attack_mid_r {
    background-image: url('button_images/slice_row2_col3.png');
}

button#defend_mid_l {
    background-image: url('button_images/slice_row3_col1.png');
}

button#defend_mid_c {
    background-image: url('button_images/slice_row3_col2.png');
}

button#defend_mid_r {
    background-image: url('button_images/slice_row3_col3.png');
}

button#defend_l {
    background-image: url('button_images/slice_row4_col1.png');
}

button#defend_c {
    background-image: url('button_images/slice_row4_col2.png');
}

button#defend_r {
    background-image: url('button_images/slice_row4_col3.png');
}

